img{
    width: 100%;
}
.navbarlinks{
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.TopName{
    background-color: blueviolet;
    color: black;
    text-align: center;
    margin: 0px;
}
.polices a{
    text-decoration: none;
    display: flex;
    color: #FFF;
    font-size: 20px;
    margin:5px 0px;
    
}

.about-text{
    text-align: center;
    margin-top: 20px;
}
.about-heading{
    text-align: center;
    margin-top: 30px;
}
.Footer{
    margin-top: 50px;

}


.Footer{
    background-color: rgb(2, 2, 84);
    color: #FFF;
}

.MRP{
    font-size: 20px;
    
}

  .quantity-btn:hover {
    background: #f0f0f0;
  }
  
  .footerButton {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .footerButton:hover {
    background-color: #0056b3;
  }
  .buynow-main-page{
    margin-top: 60px;
  
  }
  .buynow-main-page h2{
    margin-top: 20px;
  }

  .cardpayment{
    margin-top: 100px;
    padding: 20px;  
    
  }
  
  /* success code */
  .success-container {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #f8f9fa;
}

.celebrate::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    animation: confettiBackground 3s forwards;
}

@keyframes confettiBackground {
    0% {
        background: rgba(0, 0, 0, 0.3);
    }
    100% {
        background: transparent;
    }
}

.confetti-piece {
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    animation: fall 3s linear infinite, sway 1s ease-in-out infinite alternate;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
    }
    100% {
        transform: translateY(100vh);
    }
}

@keyframes sway {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(20px);
    }
}
