img{
    width: 100%;
}
.navbarlinks{
    text-decoration: none;
    padding: 10px;
    color: #FFF;
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.TopName{
    background-color: blueviolet;
    color: black;
    text-align: center;
    margin: 0px;
}
.polices a{
    text-decoration: none;
    display: flex;
    color: #FFF;
    font-size: 20px;
    margin:5px 0px;
    
}

.about-text{
    text-align: center;
    margin-top: 20px;
}
.about-heading{
    text-align: center;
    margin-top: 30px;
}
.Footer{
    margin-top: 50px;

}


.Footer{
    background-color: rgb(2, 2, 84);
    color: #FFF;
}

.MRP{
    font-size: 20px;
    
}

  .quantity-btn:hover {
    background: #f0f0f0;
  }
  
  .footerButton {
    background-color: #007bff;
    color: white;
    padding: 0.5rem 1rem;
  }
  
  .footerButton:hover {
    background-color: #0056b3;
  }
  .buynow-main-page{
    margin-top: 100px;
  
    font-weight: 400;
  }
.card-body {
    cursor: pointer;
  }
  .cardpayment{
    margin-top: 100px;
    padding: 20px;  
    font-weight: 500;
  }
  